<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Carnet d'adresses</title>
		<!-- fichiers à importer -->
			<link rel="stylesheet" href="../resources/css/meyerweb.css">
			<link rel="stylesheet" href="../resources/css/style.css">
			<link rel="stylesheet" href="https://i.icomoon.io/public/temp/73cb0f31df/UntitledProject/style-svg.css">
			<script defer src="https://i.icomoon.io/public/temp/73cb0f31df/UntitledProject/svgxuse.js"></script>
		<!-- Script à importer -->
		<script src="../classes/People.js" type="text/javascript"></script>
		<script src="../application/functions.js" type="text/javascript"></script>
	</head>
	<body>
      <header>
        <nav>
          <ul>
            <li>
              <a href="../index.html">
                <svg class="icon icon-home3"><use xlink:href="#icon-home3"></use></svg>
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="test.html">
                <svg class="icon icon-upload3" title="Charger" ><use xlink:href="#icon-upload3"></use></svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="icon icon-download3" title="Sauvegarder" ><use xlink:href="#icon-download3"></use></svg>
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="addPeople.html" title="Ajouter contact" >
                <svg class="icon icon-address-book"><use xlink:href="#icon-address-book"></use></svg>
              </a>
            </li>
            <li>
              <a href="deletePeople.html" title="Supprimer contact" >
                <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
              </a>
            </li>
            <li>
              <a href="viewPeoples.html" title="Rechercher contact" >
                <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
              </a>
            </li>
          </ul>
        </nav>
      </header>

		<main>
			<h3>Ajouter client</h3>
			<!-- <img src="resources/img/book.png"> -->
			<img src="../resources/svg/SVG/user-plus.svg" />
			
			<form onSubmit="addPeople()">
				<input id="lastName" type="text" placeholder="Nom" maxlength="30" required="required">
				<input id="firstName" type="text" placeholder="Prénom" maxlength="30" required="required">
				<input id="phone" type="text" placeholder="Portable" maxlength="30" required="required">
				<input id="city" type="text" placeholder="Ville" maxlength="50" required="required">
				<input id="postalCode" type="text" placeholder="Code Postal" maxlength="5" required="required">
				<input id="address" type="text" placeholder="Adresse" maxlength="30" required="required">
				<input type="submit" value="Ajouter" />
			</form>
		</main>
	</body>
</html>
