<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Carnet d'adresses</title>
    <!-- fichiers à importer -->
    <link rel="stylesheet" href="../resources/css/meyerweb.css">
    <link rel="stylesheet" href="../resources/css/style.css">
    <!-- Script à importer -->
    <script src="../classes/People.js" type="text/javascript"></script>
    <script src="../application/app.js" type="text/javascript"></script>
    <script src="../renderer.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>Test en tout genre !</h1>
    <p>En dev...</p>
    <script>
        for(var index in contacts) { 
            if (contacts.hasOwnProperty(index)) {
              var temp = "<p>" + contacts[index].getFirstName +  " " + contacts[index].getLastName + "</p>";
              document.open();
              document.write(temp);
              document.close();
            }
        }
    </script>
  </body>
</html>
