@import url('https://fonts.googleapis.com/css?family=Montserrat');
html{
  font-family: 'Montserrat', sans-serif;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	padding: 2px;
	color: white;
	border: 1px solid pink;
	border-radius: 5px;
	box-shadow: 5px 5px 5px fuchsia;
	background: linear-gradient(0.25turn, #222222, #22efff);
}

/* ---------------*/
/* --- Header --- */
/* ---------------*/
header nav {
	background: linear-gradient(0.25turn, #41f47f, #6af2f2);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
header ul {
	margin: auto;
	display: flex;
	flex-direction: row;
}

header li {
	font-size: 1.2rem;
	padding: 10px;
}

/* -------------*/
/* --- Body --- */
/* -------------*/
main {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 70vh;
	
}
main h3 {
	margin: auto;
	padding: 1rem 0 1rem 0;
	font-size: 8vw;
	max-width: 500px;
}
main img {
	width: 40vw;
	min-width: 200px;
	max-width: 400px;
	height: auto;
	padding: 1rem;
}

footer {
	width: 100%;
  bottom: 0;
	margin: auto;
	text-align: center;
}
	