@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* -webkit-app-region: drag; /* permet le déplacement de la fenêtre sans bordure */

html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

input[type=text], input[type=number], select {
	background: #e0e9ff;
	border: 1px solid #6692ff;
	border-radius: 5px;
}

input[type=submit], button, input[type=reset] {
	background: #ccdaff;
	border: 1px solid #6692ff;
	padding: 5px 15px;
	font-weight: bold;
	margin-right: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-out;
}
input[type=submit]:hover, button:hover, input[type=reset]:hover {
	background: #9db9ff;
	color: white;
	transition: all 0.2s ease-out;
}
input[type=submit]:active, button:active, input[type=reset]:active {
	box-shadow: 0px 0px 15px #4f81ff inset;
	transition: all 0s ease-out;
}

/* ---------------*/
/* --- Header --- */
/* ---------------*/
body header .icon {
  width: 1em;
  height: 1em;
}

body header {
	position: sticky;
	top: 0;
	border-top: 1px solid #6692ff;
	border-bottom: 1px solid #6692ff;
	background: #9ab7ff;
}

nav {
	display: flex;
	flex-wrap: wrap;
  	flex-direction: row;
}

nav a {
	color: #003bcd;
	display: flex;
	padding: 0.5em 0.8em;
	transition: all 0.2s ease-out;
}

nav a:hover {
	color: white;
	background: #6692ff;
	transition: all 0.2s ease-out;
}

body header ul {
	margin: auto;
	display: flex;
}

body header li {
	font-size: 1.2rem;
}

/* -------------*/
/* --- Body --- */
/* -------------*/
main {
	background: #003bcd;
	top: 0;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}
main h3 {
	padding: 1rem 0 1rem 0;
	font-size: 8vw;
}
main .svg {
    width: 15em;
    height: 15em;
	padding: 2rem;
	display: flex;
	padding: 5px;
}

section {
	margin: 25px auto;
	width: 75%;
}
section .icon {
	cursor: pointer;
	display: flex;
    width: 3em;
    height: 3em;
	padding: 5px;
	padding-left: 7px;
    border: 1px solid #6692ff;
	background: #9ab7ff;
	border-radius: 5px;
    color: white;
	transition: all 0.2s ease-out;
}
section .icon:hover {
	transition: all 0.2s ease-out;
    background: #eeeeee;
}
section .bin:hover {
	transition: all 0.2s ease-out;
    color: red;
    background: #eeeeee;
}
section .add:hover {
	transition: all 0.2s ease-out;
    color: green;
    background: #eeeeee;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	border-bottom: 5px solid #9ab7ff;
	margin-bottom: 15px;
	color: #6692ff;
	/*text-align: right;*/
}

table {
	margin: 15px auto;
	border: 1px solid #6692ff;
	width: 100%;
	border-radius: 5px;
}
th {
	font-weight: bold;
	background: #6692ff;
	color: white;
}
tr {
	background: #cfdcfd;
}
.tr__pair {
	background: #e3ebff;
}
td {
	vertical-align: middle;
}
th, td {
	padding: 15px;
	text-align: left;
	/*border-bottom: 1px solid black;*/
}
tr td {
	transition: all 0.2s ease-out;
}
tr:hover td {
	background: #9ab7ff;
	color: white;
	transition: all 0.2s ease-out;
}

section input[type=text], section input[type=number] {
	width: 50%;
	padding: 5px;
}

.search {
	display: flex;
}
.txt-search-error {
	border: 1px solid #ff2929;
}
.txt-search-good {
	border: 1px solid #6692ff;
}
#list-search{
	background: #b7ccff;
	box-shadow: 0px 0px 15px #4f81ff inset;
}
#list-search, #txt-search {
	padding: 5px;
	margin-right: 5px;
}

footer {
	border-top: 1px solid #6692ff;
	background: #9ab7ff;
	color: white;
	padding: 50px;
	margin: auto;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
	
/* -------------*/
/* -- Dialog -- */
/* -------------*/
.dialog {
	background: white;
	display: none;
	border: 1px solid #6692ff;
	border-radius: 5px;
	width: 500px;
	position: fixed;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 15px black;
}
.dialog .headerDialog {
	position: relative;
	height: 26px;
	background: #6692ff;
	border-bottom: 1px solid #6692ff;
}
.dialog .bodyDialog {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding: 5px;
}
.dialog .bodyDialog p {
	color: red;
	font-weight: bold;
	font-size: 0.7rem;
	padding-bottom: 0.5rem;
}
.dialog #titre {
	position: absolute;
	margin: 5px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
}
.dialog .close {
	cursor: pointer;
	float: right;
	padding: 5px;
	border-left: 1px solid #6692ff;
	background: black;
	color: white;
	font-weight: bold;
	/*border-radius: 0px 5px 0px 0px;*/
	border-radius: 5px;
	transition: all 0.2s ease-out;
}
.dialog .close:hover {
	background: red;
	transition: all 0.2s ease-out;
}
.dialog input[type=text], .dialog input[type=number], .dialog select {
	padding: 5px;
	width: 100%;
	margin: 5px auto;
}
.dialog .bodyBtn {
	margin: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}