@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* -webkit-app-region: drag; /* permet le déplacement de la fenêtre sans bordure */

html{
  font-family: 'Montserrat', sans-serif;
}

a{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

input[type=text], input[type=number]{
	border: 1px solid black;
}

input[type=submit], button, input[type=reset]{
	border: 1px solid black;
	padding: 5px 15px;
	font-weight: bold;
	margin-right: 5px;
	transition: all 0.2s ease-out;
}
input[type=submit]:hover, button:hover, input[type=reset]:hover{
	background: grey;
	color: white;
	transition: all 0.2s ease-out;
}
input[type=submit]:active, button:active, input[type=reset]:active{
	box-shadow: 0px 0px 15px black inset;
	transition: all 0s ease-out;
}

/* ---------------*/
/* --- Header --- */
/* ---------------*/
body header .icon{
  width: 1em;
  height: 1em;
}

body header{
	position: sticky;
	top: 0;
	background: #eeeeee;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
}

nav {
	display: flex;
	flex-wrap: wrap;
  flex-direction: row;
}

nav a{
	display: flex;
	padding: 0.5em 0.8em;
	transition: all 0.2s ease-out;
}

nav a:hover{
	color: white;
	background: #acacac;
	transition: all 0.2s ease-out;
}

body header ul {
	margin: auto;
	display: flex;
}

body header li {
	font-size: 1.2rem;
}

/* -------------*/
/* --- Body --- */
/* -------------*/
main {
	top: 0;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 70vh;
	color: black;
}
main h3 {
	padding: 1rem 0 1rem 0;
	font-size: 8vw;
}
main img {
	width: 25vw;
	padding: 2rem;
}

section{
	margin: 25px auto;
	width: 75%;
}
section .icon{
	cursor: pointer;
	display: flex;
    width: 2em;
    height: 2em;
	padding: 5px;
	padding-left: 7px;
    border: 1px solid black;
    background: #acacac;
    color: white;
	transition: all 0.2s ease-out;
}
section .icon:hover{
	transition: all 0.2s ease-out;
    background: #eeeeee;
}
section .bin:hover{
	transition: all 0.2s ease-out;
    color: red;
    background: #eeeeee;
}
section .add:hover{
	transition: all 0.2s ease-out;
    color: green;
    background: #eeeeee;
}

h1{
	font-size: 2em;
	font-weight: bold;
	border-bottom: 5px solid black;
	margin-bottom: 15px;
}

table{
	margin: 15px auto;
	border: 1px solid black;
	min-width: 100%;
	max-width: 100%;
}
th{
	font-weight: bold;
	background: black;
	color: white;
}
tr{
	background: #e0e0e0;
}
.tr__pair{
	background: #b6b6b6;
}
td{
	vertical-align: middle;
}
th, td {
	padding: 15px;
	text-align: left;
	/*border-bottom: 1px solid black;*/
}
tr td{
	transition: all 0.2s ease-out;
}
tr:hover td{
	background: #757575;
	color: white;
	transition: all 0.2s ease-out;
}

section input[type=text], section input[type=number]{
	width: 50%;
}

.search{
	display: flex;
}
.txt-search-error{
	border: 1px solid red;
}
.txt-search-good{
	border: 1px solid black;
}
#list-search, #txt-search{
	padding: 5px;
	background: #e0e0e0;
	margin-right: 5px;
}

footer {
	border-top: 1px solid grey;
	background: #acacac;
	bottom: 0;
	padding: 50px;
	margin: auto;
	text-align: center;
}
	
/* -------------*/
/* -- Dialog -- */
/* -------------*/
.dialog{
	display: none;
	border: 1px solid black;
	width: 500px;
	position: fixed;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 15px black;
}
.dialog .header{
	position: relative;
	height: 26px;
	background: grey;
	border-bottom: 1px solid black;
}
.dialog .body{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	background: #acacac;
	padding: 5px;
}
.dialog #titre{
	position: absolute;
	margin: 5px;
	text-transform: uppercase;
}
.dialog .close{
	cursor: pointer;
	float: right;
	padding: 5px;
	border-left: 1px solid black;
	background: black;
	color: white;
	transition: all 0.2s ease-out;
}
.dialog .close:hover{
	background: red;
	transition: all 0.2s ease-out;
}
.dialog input[type=text], .dialog input[type=number], .dialog select{
	padding: 5px;
	width: 100%;
	margin: 5px auto;
}